h1{
    color:grey;
    padding: 5px;
}
body{
    background-color: black;
    font-family: 'Red Hat Display', sans-serif;
}
.text-center{background-color: black;

}
.container{
    background-color: black;
    
}